/* Add a background color to the header element */
Header {
    background-color: purple;
    color:yellow;
}

/* Add a fun background color to the main element */
main {
    background-color: yellow;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */
P {
    color: purple;
    font-style: italic;
}

ul {
    color:purple;
}
/* Put a border around your image */
img {
    border-width: 5px;
    border-color:purple;
    border-style:solid;
    
    
}
/* Change the font-family of your list */
ul {
    font-family: 'Times New Roman', Times, serif;
}

/* Add a background color to the footer element */
Footer{
    background-color:purple;    


}