/* Add a background color to the header element */
Header {
    background-color: purple;
}

/* Add a fun background color to the main element */
main {
    background-color: yellow;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */
P {
    color: red;
    font-style: italic
}

Blockquote {
    color: red;
}
/* Put a border around your image */
img {
    border-width: 5px;
    border-color:black;
    border-style: solid;
    
}
/* Change the font-family of your list */
Blockquote {
    font-family: 'Times New Roman', Times, serif;
}

/* Add a background color to the footer element */
footer{
    background-color:purple;
    
}